<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Congratulation....! You've Discovered My Secrets!</h1>
    <p class="secret-text">👋 Hi, I’m @AnsulaDev, And 
      👀 I’m interested in full stack web development and indie game development. And 
      🌱 I’m currently learning full stack web development and unity game development</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
